Name = Krishna Varma,
Roll No = B19139
Batch - B3
Branch = Computer Science

In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn.datasets import load_boston
boston = load_boston()

/usr/local/lib/python3.9/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np

        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.
  warnings.warn(msg, category=FutureWarning)

In [3]:
data = pd.DataFrame(boston.data)

In [4]:
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [5]:
data.columns = boston.feature_names

In [6]:
data['PRICE'] = boston.target

In [7]:
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [8]:
data.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
PRICE      0
dtype: int64

In [9]:
data.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    float64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  PRICE    506 non-null    float64
dtypes: float64(14)
memory usage: 55.5 KB

In [11]:
X = data.iloc[:,:-1]
y= data.PRICE

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2, random_state = 123)

In [13]:
# Linear Regression
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()

In [14]:
# Fitting the model
regressor.fit(X_train,y_train)

LinearRegression()

In [15]:
# Prediction on the test dataset
y_pred = regressor.predict(X_test)

In [16]:
# Predicting RMSE the Test set results
from sklearn.metrics import mean_squared_error
rmse = (np.sqrt(mean_squared_error(y_test, y_pred)))
print(rmse)

5.309659665032167

In [17]:
# Scaling the dataset
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [18]:
# Creating the neural network model
import keras
from keras.layers import Dense, Activation,Dropout
from keras.models import Sequential
model = Sequential()
model.add(Dense(128,activation = 'relu',input_dim =13))
model.add(Dense(64,activation = 'relu'))
model.add(Dense(32,activation = 'relu'))
model.add(Dense(16,activation = 'relu'))
model.add(Dense(1))
model.compile(optimizer = 'adam',loss = 'mean_squared_error')

In [19]:
model.fit(X_train, y_train, epochs = 100)

Epoch 1/100
13/13 [==============================] - 2s 4ms/step - loss: 579.7870
Epoch 2/100
13/13 [==============================] - 0s 7ms/step - loss: 552.2959
Epoch 3/100
13/13 [==============================] - 0s 3ms/step - loss: 468.8910
Epoch 4/100
13/13 [==============================] - 0s 3ms/step - loss: 261.8955
Epoch 5/100
13/13 [==============================] - 0s 4ms/step - loss: 93.8839
Epoch 6/100
13/13 [==============================] - 0s 4ms/step - loss: 59.3872
Epoch 7/100
13/13 [==============================] - 0s 3ms/step - loss: 34.6621
Epoch 8/100
13/13 [==============================] - 0s 3ms/step - loss: 25.4114
Epoch 9/100
13/13 [==============================] - 0s 3ms/step - loss: 22.1765
Epoch 10/100
13/13 [==============================] - 0s 4ms/step - loss: 20.1464
Epoch 11/100
13/13 [==============================] - 0s 3ms/step - loss: 18.6180
Epoch 12/100
13/13 [==============================] - 0s 3ms/step - loss: 17.5063
Epoch 13/100
13/13 [==============================] - 0s 3ms/step - loss: 16.6218
Epoch 14/100
13/13 [==============================] - 0s 3ms/step - loss: 15.7667
Epoch 15/100
13/13 [==============================] - 0s 4ms/step - loss: 14.9659
Epoch 16/100
13/13 [==============================] - 0s 4ms/step - loss: 14.3909
Epoch 17/100
13/13 [==============================] - 0s 3ms/step - loss: 13.9884
Epoch 18/100
13/13 [==============================] - 0s 3ms/step - loss: 13.5528
Epoch 19/100
13/13 [==============================] - 0s 4ms/step - loss: 13.0267
Epoch 20/100
13/13 [==============================] - 0s 4ms/step - loss: 12.2707
Epoch 21/100
13/13 [==============================] - 0s 3ms/step - loss: 11.8218
Epoch 22/100
13/13 [==============================] - 0s 4ms/step - loss: 11.5420
Epoch 23/100
13/13 [==============================] - 0s 3ms/step - loss: 11.1486
Epoch 24/100
13/13 [==============================] - 0s 4ms/step - loss: 11.1066
Epoch 25/100
13/13 [==============================] - 0s 3ms/step - loss: 10.6163
Epoch 26/100
13/13 [==============================] - 0s 4ms/step - loss: 10.2997
Epoch 27/100
13/13 [==============================] - 0s 3ms/step - loss: 10.0960
Epoch 28/100
13/13 [==============================] - 0s 3ms/step - loss: 9.8836
Epoch 29/100
13/13 [==============================] - 0s 4ms/step - loss: 9.7086
Epoch 30/100
13/13 [==============================] - 0s 3ms/step - loss: 9.6170
Epoch 31/100
13/13 [==============================] - 0s 3ms/step - loss: 9.4798
Epoch 32/100
13/13 [==============================] - 0s 4ms/step - loss: 9.2542
Epoch 33/100
13/13 [==============================] - 0s 4ms/step - loss: 9.0207
Epoch 34/100
13/13 [==============================] - 0s 5ms/step - loss: 9.0030
Epoch 35/100
13/13 [==============================] - 0s 4ms/step - loss: 8.8062
Epoch 36/100
13/13 [==============================] - 0s 4ms/step - loss: 8.7167
Epoch 37/100
13/13 [==============================] - 0s 3ms/step - loss: 8.5074
Epoch 38/100
13/13 [==============================] - 0s 3ms/step - loss: 8.3940
Epoch 39/100
13/13 [==============================] - 0s 2ms/step - loss: 8.2543
Epoch 40/100
13/13 [==============================] - 0s 2ms/step - loss: 8.1568
Epoch 41/100
13/13 [==============================] - 0s 2ms/step - loss: 7.9899
Epoch 42/100
13/13 [==============================] - 0s 2ms/step - loss: 8.1307
Epoch 43/100
13/13 [==============================] - 0s 2ms/step - loss: 7.8458
Epoch 44/100
13/13 [==============================] - 0s 2ms/step - loss: 7.8692
Epoch 45/100
13/13 [==============================] - 0s 3ms/step - loss: 7.5841
Epoch 46/100
13/13 [==============================] - 0s 2ms/step - loss: 7.6180
Epoch 47/100
13/13 [==============================] - 0s 2ms/step - loss: 7.4514
Epoch 48/100
13/13 [==============================] - 0s 3ms/step - loss: 7.4513
Epoch 49/100
13/13 [==============================] - 0s 3ms/step - loss: 7.3222
Epoch 50/100
13/13 [==============================] - 0s 3ms/step - loss: 7.2403
Epoch 51/100
13/13 [==============================] - 0s 4ms/step - loss: 7.0873
Epoch 52/100
13/13 [==============================] - 0s 3ms/step - loss: 7.0160
Epoch 53/100
13/13 [==============================] - 0s 2ms/step - loss: 6.9648
Epoch 54/100
13/13 [==============================] - 0s 3ms/step - loss: 7.0407
Epoch 55/100
13/13 [==============================] - 0s 2ms/step - loss: 6.9286
Epoch 56/100
13/13 [==============================] - 0s 2ms/step - loss: 7.0916
Epoch 57/100
13/13 [==============================] - 0s 3ms/step - loss: 6.8423
Epoch 58/100
13/13 [==============================] - 0s 2ms/step - loss: 6.5978
Epoch 59/100
13/13 [==============================] - 0s 3ms/step - loss: 6.6885
Epoch 60/100
13/13 [==============================] - 0s 2ms/step - loss: 6.6208
Epoch 61/100
13/13 [==============================] - 0s 3ms/step - loss: 6.5487
Epoch 62/100
13/13 [==============================] - 0s 2ms/step - loss: 6.3788
Epoch 63/100
13/13 [==============================] - 0s 3ms/step - loss: 6.3057
Epoch 64/100
13/13 [==============================] - 0s 3ms/step - loss: 6.1263
Epoch 65/100
13/13 [==============================] - 0s 3ms/step - loss: 6.3764
Epoch 66/100
13/13 [==============================] - 0s 3ms/step - loss: 6.4606
Epoch 67/100
13/13 [==============================] - 0s 3ms/step - loss: 6.2696
Epoch 68/100
13/13 [==============================] - 0s 3ms/step - loss: 6.0652
Epoch 69/100
13/13 [==============================] - 0s 3ms/step - loss: 5.9955
Epoch 70/100
13/13 [==============================] - 0s 3ms/step - loss: 6.0160
Epoch 71/100
13/13 [==============================] - 0s 2ms/step - loss: 5.9432
Epoch 72/100
13/13 [==============================] - 0s 2ms/step - loss: 6.0335
Epoch 73/100
13/13 [==============================] - 0s 2ms/step - loss: 5.7808
Epoch 74/100
13/13 [==============================] - 0s 3ms/step - loss: 5.8659
Epoch 75/100
13/13 [==============================] - 0s 2ms/step - loss: 5.8874
Epoch 76/100
13/13 [==============================] - 0s 2ms/step - loss: 5.5695
Epoch 77/100
13/13 [==============================] - 0s 2ms/step - loss: 5.4866
Epoch 78/100
13/13 [==============================] - 0s 2ms/step - loss: 5.5031
Epoch 79/100
13/13 [==============================] - 0s 2ms/step - loss: 5.3711
Epoch 80/100
13/13 [==============================] - 0s 2ms/step - loss: 5.5927
Epoch 81/100
13/13 [==============================] - 0s 3ms/step - loss: 5.4768
Epoch 82/100
13/13 [==============================] - 0s 2ms/step - loss: 5.2527
Epoch 83/100
13/13 [==============================] - 0s 3ms/step - loss: 5.4289
Epoch 84/100
13/13 [==============================] - 0s 3ms/step - loss: 5.1736
Epoch 85/100
13/13 [==============================] - 0s 2ms/step - loss: 5.1126
Epoch 86/100
13/13 [==============================] - 0s 2ms/step - loss: 5.0223
Epoch 87/100
13/13 [==============================] - 0s 2ms/step - loss: 4.9993
Epoch 88/100
13/13 [==============================] - 0s 3ms/step - loss: 4.8864
Epoch 89/100
13/13 [==============================] - 0s 2ms/step - loss: 5.0087
Epoch 90/100
13/13 [==============================] - 0s 3ms/step - loss: 5.0562
Epoch 91/100
13/13 [==============================] - 0s 3ms/step - loss: 4.8887
Epoch 92/100
13/13 [==============================] - 0s 3ms/step - loss: 4.8568
Epoch 93/100
13/13 [==============================] - 0s 3ms/step - loss: 4.8625
Epoch 94/100
13/13 [==============================] - 0s 2ms/step - loss: 4.6669
Epoch 95/100
13/13 [==============================] - 0s 2ms/step - loss: 4.7182
Epoch 96/100
13/13 [==============================] - 0s 2ms/step - loss: 4.7987
Epoch 97/100
13/13 [==============================] - 0s 2ms/step - loss: 4.6486
Epoch 98/100
13/13 [==============================] - 0s 2ms/step - loss: 4.4719
Epoch 99/100
13/13 [==============================] - 0s 3ms/step - loss: 4.6040
Epoch 100/100
13/13 [==============================] - 0s 2ms/step - loss: 4.4858

In [20]:
y_pred = model.predict(X_test)

4/4 [==============================] - 0s 3ms/step

In [21]:
# Predicting RMSE the Test set results
from sklearn.metrics import mean_squared_error
rmse = (np.sqrt(mean_squared_error(y_test, y_pred)))
print(rmse)

4.231872532857678